@import "variables";

body {
  margin: 0;
  font-family: Arial, Open-Sans, sans-serif;
  color: #002E39;
}

.container {
  margin: 0 20%;
  height: 100vh;
  background-color: var(--main-background-color);
  box-shadow: 2px 0 10px lightslategray;
  padding: 0 20px;
}

.hidden {
  visibility: hidden;
  height: 0 !important;
  width: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

header {
  display: flex;
  justify-content: center;
  height: 80px;
}

main {
}


@import "error";
@import "form";